<launch>
    <arg name="node_name" default="navigation_manager"/>
    <node pkg="drone_navigation" type="navigation_manager" name="$(arg node_name)" clear_params="true" output="screen">
    </node>
    <node pkg="drone_navigation" type="visualize_path" name="visualize_path" clear_params="true" output="screen">
    </node>
</launch>